* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --letter-color: white;
  font-family: "Poppins", sans-serif;
}

.panels {
  /*Display*/
  display: flex;
  /*General properties*/
  min-height: 100vh;
  overflow: hidden;
}

.panel {
  /*Display*/
  flex: 1;
  display: flex;
  flex-direction: column;
  /*General properties*/
  color: var(--letter-color);
  font-size: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*Transitions*/
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

/*Panel background*/
.panel1 {
  background-image: url(../img/pexels-ave-calvar-martinez-3656870.jpg);
}
.panel2 {
  background-image: url(../img/pexels-ave-calvar-martinez-3656870.jpg);
}
.panel3 {
  background-image: url(../img/pexels-ave-calvar-martinez-3656870.jpg);
}
.panel4 {
  background-image: url(../img/pexels-ave-calvar-martinez-3656870.jpg);
}
.panel5 {
  background-image: url(../img/pexels-ave-calvar-martinez-3656870.jpg);
}

/*Flex items*/
.panel > * {
  /*General properties*/
  width: 100%;
  flex: 1 0 auto;
  transition: transform 0.5s;
  /*Display*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Text position*/
.panel > *:first-child {
  transform: translateY(-100%);
}
/*Add class from JS to show text*/
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
/*Add class from JS to show text*/
.panel.open-active > *:last-child {
  transform: translateY(0);
}
/*Widen image and scale text*/
.panel.open {
  flex: 4;
  font-size: 50px;
}
